<div class="form-holder decentered-p">
    <h1 style='text-align:center; font-size:100px'>hey!</h1>
    <img src='images/horipic.jpg' class="img-fluid rounded" style="padding:15px; padding-bottom: 30px; max-width: 645px; width: 100%;display: block;margin-left: auto;margin-right: auto; height: auto; vertical-align:center">
    <p>Hi, I’m Amit Sant, a Computer Science student at UC Berkeley. I like coding, chess, memes, gaming, and history, but for the most part I’m pretty much open to anything. You can <a href='#contact' onclick="highlight()">contact me</a> if you’re interested in talking about anything.</p>

    <h1>Things I’ve Enjoyed</h1>
    <h2>Coding</h2>
    <p>Coding has been something I've enjoyed doing since the 7th grade. My experiences at hackathons and a coding bootcamp called the Horizons School of Technology helped me decide to pursue CS, and that's how I got here. You can find a few of the projects that I’ve done there over <a href='/projects'>here</a>.</p>

    <h2>Teaching</h2>
    <p>One of my passions is teaching, and I’ve taught throughout high school. I coached the chess team of my elementary school in both paid and volunteer positions. It was particularly rewarding to work one-on-one with the younger kids as I saw them grow over the years to compete in tournaments. I also taught math in high school for the elementary school’s Math Counts and Math Olympiad team along with a student in high school. Teaching in a class environment in the former and teaching someone around my own age in the latter were both new experiences, but I enjoyed them both and I’m looking forward to continue teaching in college.

    <h2>Chess</h2>
    <p>I’ve pretty much played chess since I can remember. I was lucky to go to an elementary school with a strong chess program and this allowed me to kick off my chess career. Over the years our teams have had strong finished in every scholastic National Championship including winning K-6 Super Nationals V coming 2nd and 3rd in K-8 and coming top 10 in every K-12 Nationals we participated in. While I have been taken a bit of a break on the competitive side of things, I’m still a part of the chess club here @ Cal, so if you ever want a game or two, just <a href='#contact' onclick="highlight()">contact me</a>.</p>

    <h2>Gaming</h2>
    <p>I’ve been gaming pretty much since the third grade, when I discovered the miracle that was Super Smash Bros Brawl (I later learned that this was the worst game, but don’t ruin my childhood!). That game brings with it memories of some of the best times in my life. I’ve gamed at least a little bit since then till this day. And though I don’t game as much as when I was in elementary school, I do play some Smash Ultimate (Fight my Incineroar) and League, and I’ll probably continue gaming casually throughout college.</p>
</div>
<script>
  function highlight() {

  }
</script>
