    <div style="height: 1000px; padding-top:100px; position: relative; text-weight: bold;">
      <img style="width:100%; height:100%; filter: blur(5px); -webkit-filter: blur(5px);" src="images/Tankekraft.png">
      <div class = 'container centered form-holder'>
        <form class = 'hello'>
          <div class="row">
            <div class='col-xs-12 center-block'>
              <label for="fname">Name:</label>
              <input type="text" id="fname" name="fullname" placeholder="Enter your full name">
            </div>
          </div>

          <div class="row">
            <div class='col-xs-12 center-block'>
              <label for="email">Email:</label>
              <input type="email" id="email" name="email" placeholder="Enter your email">
            </div>
          </div>

          <div class="row">
            <div class='col-xs-12 center-block'>
              <label for="subject">Subject:</label>
              <input type="text" id="subject" name="subject" placeholder="Subject">
            </div>
          </div>

          <div class="row">
            <div class='col-xs-12 center-block'>
              <label for="body">Body:</label>
              <textarea id="body" name="body" placeholder="Message" style="height:200px"></textarea>
            </div>
          </div>

          <div class="row">
            <div class='col-xs-12 center-block text-center'>
              <input type="button" id='submit' class="btn btn-primary btn-lg active" value="Submit">
            </div>
          </div>
        </form>
        <script>
          $('.hello').submit(function(){
            name = $('#fname').val()
            email = $('#email').val()
            subject = $('#subject').val()
            body = $('#body').val()
            $('#fname').val('')
            $('#email').val('')
            $('#subject').val('')
            $('#body').val('')
          })
        </script>
      </div>
    </div>
