<div style="height: 100%; position: relative; text-align: center; color: white; text-weight: bold; background-color:#222222;">
  <canvas id="c"></canvas>
  <div class="centered visi" style=''>
    <h1 class ='welcome-header unselectable'>welcome to amit's world!</h1>
    <a class="btn btn-light btn-lg active" style="background-color:white" href="/about">enter</a>
  </div>
</div>
<script type="text/javascript" src="scripts/homepage.js"/>
