<div class="form-holder decentered-p">
  <h1>Some of the cool things that I've done.</h1>
  <br>
  <h2>School Projects</h2>
  <p class="resource">Code for these cannot be posted publically for academic honesty reasons though I scored perfect on all of these. If you really want to take a look at the code though you can <a href='#contact' class="contacter">contact me</a>, and I can show you privately.</p>
  <br>
  <h3 class="resource">Gitlet - Java Implementation of a Simplified Version of Git from Scratch</h3>
  <ul>
    <li>Implemented all core git functionality like add, rm, log, find, checkout, commit, status, etc along with remote features (push, pull etc)</li>
    <li>Developed merge command using depth-first traversals to find the closest common ancestor between two commits and handled creating a new, joint commit with merge conflicts</li>
  </ul>
  <a href="https://inst.eecs.berkeley.edu/~cs61b/sp20/materials/proj/proj3/index.html#c-detailed-spec-of-behavior">Specs</a>
  <br>  <br>
  <h3 class="resource">Lines of Action — Java Implementation of Board Game with an AI Player</h3>
  <ul>
    <li>Implemented basic game functionality with legal move and win-condition recognition</li>
    <li>Utilized game trees with alpha-beta pruning and a basic heuristic to build AI Player</li>
  </ul>
  <a href="https://inst.eecs.berkeley.edu/~cs61b/sp20/materials/proj/proj2/">Specs</a>
  <br>  <br>
  <h3 class="resource">Scheme Interpreter — Scheme(LISP) Interpreter Made with Python</h3>
  <ul>
    <li>Implemented objects representing and allowing for the evaluation of conditional logic and functions (define, lambda, mu, and macros)</li>
    <li>Improved interpreter speed and memory usage by making evaluation tail-recursive</li>
  </ul>
  <a href="https://inst.eecs.berkeley.edu/~cs61a/fa19/proj/scheme_stubbed/">Specs</a>
</div>
<div>
    <div class='align-items justify-content'>
        <div class="row kaggle">
          <div class="form-holder project" style="">
            <h2 class='proj-title' style='margin-top:0;'>CLI Space Invaders</h2>
            <img style="width:100%;;" src="https://upload.wikimedia.org/wikipedia/en/0/0f/Space_Invaders_flyer%2C_1978.jpg">
            <p class='proj-text'>Arcade game made using C++.</p>
            <ul class="social-network social-circle" style="display:block;">
              <li style="display:block;">
                <a href="https://github.com/amitsant2000/space-invaders-cli" target="_blank" class="icoGithub2" title="Github">
                  <i class="fa fa-github"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="form-holder project" style="">
            <h2 class='proj-title' style='margin-top:0;'>Share My Look [WIP]</h2>
            <img style="width:100%;;" src="images/share-my-look.png">
            <p class='proj-text'>Fashion app prototype made with NodeJS.</p>
            <ul class="social-network social-circle" style="display:block;">
              <li style="display:block;">
                <a href="https://github.com/amitsant2000/steal-my-look" target="_blank" class="icoGithub2" title="Github">
                  <i class="fa fa-github"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row kaggle">
          <div class="form-holder project" style="margin-bottom:0;">
            <h2 class='proj-title' style='margin-top:0;'>Yo! Clone [Horizons]</h2>
            <img style="width:100%;;" src="images/horizons.png">
            <p class='proj-text'>Clone of Yo! built with ReactJS.</p>
            <ul class="social-network social-circle" style="display:block;">
              <li style="display:block;">
                <a href="https://github.com/amitsant2000/hohoho" target="_blank" class="icoGithub2" title="Github">
                  <i class="fa fa-github"></i>
                </a>
              </li>
            </ul>
          </div>
          <div id="last" class="form-holder project" style="margin-bottom:0;">
            <h2 class='proj-title' style='margin-top:0;'>Physics Simulation</h2>
            <img style="width:100%;" src="images/phys.png">
            <p class='proj-text'>Projectile motion sim made with HTML Canvas.</p>
            <ul class="social-network social-circle" style="display:block;">
              <li style="display:inline-block;">
                <a href="https://github.com/amitsant2000/physics-simulation" target="_blank" class="icoGithub2" title="Github">
                  <i class="fa fa-github"></i>
                </a>
              </li>
              <li style="display:inline-block;">
                <a href="https://physicsgeschke.herokuapp.com/" target="_blank" class="icoLink" title="Link">
                  <i class="fa fa-external-link"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
</div>
