<div class="form-holder decentered-p" style="height: 100%">
  <h2>A place which I hope to fill up with cool things that others can use.</h2>
  <br>
  <h3>Things that I found insightful</h3>
  <p class="resource">Haikyuu - Why Hard Work is Worth it even though "Nothing Really Matters"</p>
  <a href="https://www.youtube.com/watch?v=kjlkaVvFcTo">Video</a>
  <p class="resource">On Smarm</p>
  <a href="http://gawker.com/on-smarm-1476594977">Article</a>
  <p class="resource">SEAN CARROLL - The Meaning of Life</p>
  <a href="https://www.youtube.com/watch?v=dLmY4ktOIOI&ab_channel=InspirationJourney">Video</a>
</div>
