<div class="form-holder decentered-p" style="height: 100%">
  <h3>A place which I hope to fill up with cool things that others can use.</h3>
  <br>
  <p class="resource">An information worksheet I made designed for Berkeley's CS61A class that goes over the concept of macros in Scheme(LISP)</p>
  <a href="static/Lesson Plan - Macros.pdf">Link</a>
  <a href="static/Lesson Plan - Macros - Solutions.pdf">Solutions</a>
</div>
