<div class="form-holder decentered-p" style="height: 100%">
  <h3>CSM CS88 Materials Fall 2020</h3>
  <p class="resource">Week 13 - Trees, Tree Recursion, Iterators, and Generators</p>
  <a href="https://docs.google.com/presentation/d/1qKkWs2x4RewrljbHkBBdBQCV293U2RNJ9HWJKBKVIkg/edit?usp=sharing">Slides (Trees and Tree Recursion)</a>
  <br>
  <p class="resource">Week 12 - Linked Lists</p>
  <a href="https://docs.google.com/presentation/d/1KG5IDnbsDL22TFHajFOTcvCDGG8K7kuqvazn4TLRDSg/edit?usp=sharing">Slides</a>
  <br>
  <p class="resource">Week 10 - Classes and Inheritance</p>
  <a href="https://docs.google.com/presentation/d/1HrPHpENpA8TKR1oGGwdvmaPjSQRRE6SwiCF4YbpXdKk/edit?usp=sharing">Slides</a>
  <br>
  <p class="resource">Week 9 - Dictionaries and Abstraction</p>
  <a href="https://docs.google.com/presentation/d/1GnL9-0nh8Uina1VrrQOjBB2AzAVRk0QXEcKRuJhT6-o/edit?usp=sharing">Slides</a>
  <a href="https://drive.google.com/file/d/18TEIUpYDVfxQdWKAGPxyyfj3XUrJAvJC/view?usp=sharing">Worksheet</a>
  <br>
  <p class="resource">Week 8 - Tree Recursion</p>
  <a href="https://docs.google.com/presentation/d/14e7g73ArxgY4KERYzkFpLyVqeCZKlbVGR9s2RD2afrw/edit?usp=sharing">Slides</a>
<a href="https://drive.google.com/file/d/1fBwDB8IrzsY_UAt3n0SwC_UitZdWCRou/view?usp=sharing">Worksheet</a>
  <br>
  <p class="resource">Week 7 - Recursion and Exam Prep</p>
  <a href="https://docs.google.com/presentation/d/1rSh0XRA-zgdyygKBxEQswrZEO5U5-hoT8jNFGq2aCgQ/edit?usp=sharing">Slides</a>
  <br>
  <p class="resource">Week 6 - Lambdas and Reverse Environment Diagrams</p>
  <a href="https://docs.google.com/presentation/d/1lYCtxzFx1OWNf0MR2ie9oDFYYInu0x7wWFAViBZWD44/edit?usp=sharing">Slides</a>
  <br>
  <p class="resource">Week 5 - Lists and List Comprehension</p>
  <a href="https://docs.google.com/presentation/d/1afDyZTTAug0kNCgSRMxOHdadSwCjySroUC_Sdbj7h74/edit?usp=sharing">Slides</a>
  <br>
  <p class="resource">Week 4 - Environment Diagrams and Higher Order Functions</p>
  <a href="https://docs.google.com/presentation/d/1fYbnFzVb3srvvAFB-AP80L2EJDbkkHB-1-8EP0zT7zI/edit?usp=sharing">Slides</a>
  <a href="https://drive.google.com/file/d/1gizepWkyNl7QVayqFbghDRpzvfadF6I1/view?usp=sharing">Worksheet</a>
  <br>
  <h3>Miscellaneous study materials</h3>
  <p class="resource">CS 61A (Berkeley) Macros in Scheme(LISP) Worksheet</p>
  <a href="static/Lesson Plan - Macros.pdf">Link</a>
  <a href="static/Lesson Plan - Macros - Solutions.pdf">Solutions</a>
  <br>
  <br>
</div>
