<div class="form-holder decentered-p" style="height: 100%">
  <h3>CSM CS88 Materials Fall 2020</h3>
  <p class="resource">Week 4 - Environment Diagrams and Higher Order Functions</p>
  <a href="https://docs.google.com/presentation/d/1fYbnFzVb3srvvAFB-AP80L2EJDbkkHB-1-8EP0zT7zI/edit?usp=sharing">Slides</a>
  <a href="https://drive.google.com/file/d/1gizepWkyNl7QVayqFbghDRpzvfadF6I1/view?usp=sharing">Worksheet</a>
  <br>
  <p class="resource">Week 5 - Lists and List Comprehension</p>
  <a href="https://docs.google.com/presentation/d/1afDyZTTAug0kNCgSRMxOHdadSwCjySroUC_Sdbj7h74/edit?usp=sharing">Slides</a>
  <br>
  <h3>Miscellaneous study materials</h3>
  <p class="resource">CS 61A (Berkeley) Macros in Scheme(LISP) Worksheet</p>
  <a href="static/Lesson Plan - Macros.pdf">Link</a>
  <a href="static/Lesson Plan - Macros - Solutions.pdf">Solutions</a>
  <br>
  <br>
</div>
