h1, h2, h3, h4, h5, h6, a, p, li {
  text-transform: lowercase;
}

main {
  overflow: hidden;
}
html,body
{
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.bg-dark {
  font-family:sans-serif;
}
a.left
{
    position: relative;
    padding: 0;
}

a.left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
a.left:hover:before {
  visibility: visible;
  width: 100%;
}

@keyframes grow {
  from {
    transform: scale(1.0);
    margin-bottom: 0px;
  }
  to   {
    margin-bottom: 0px;
    transform: scale(1.5);
  }
}

/* Firefox < 16 */
@-moz-keyframes grow {
  from {
    transform: scale(1.0);
    margin-bottom: 0px;
  }
  to   {
    margin-bottom: 0px;
    transform: scale(1.5);
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes grow {
    from {
      transform: scale(1.0);
      margin-bottom: 0px;
    }
    to   {
      margin-bottom: 0px;
      transform: scale(1.5);
    }
}

/* Internet Explorer */
@-ms-keyframes grow {
  from {
    transform: scale(1.0);
    margin-bottom: 0px;
  }
  to   {
    margin-bottom: 0px;
    transform: scale(1.5);
  }
}

/* Opera < 12.1 */
@-o-keyframes grow {
  from {
    transform: scale(1.0);
    margin-bottom: 0px;
  }
  to   {
    transform: scale(1.5);
    margin-bottom: 0px;
  }
}
div.visi h1.welcome-header{
  -webkit-animation: grow 2s forwards; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: grow 2s forwards; /* Firefox < 16 */
      -ms-animation: grow 2s forwards; /* Internet Explorer */
       -o-animation: grow 2s forwards; /* Opera < 12.1 */
          animation: grow 2s forwards;
}

div.visi a.scroll-down{
      color: inherit;
  font-size: 50px;
}
div.visi a.scroll-down:hover{
      color: #d7d7d7;
  font-size: 50px;
}

div.visi a.scroll-down i{
              
  -webkit-animation: grow 2s forwards; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: grow 2s forwards; /* Firefox < 16 */
      -ms-animation: grow 2s forwards; /* Internet Explorer */
       -o-animation: grow 2s forwards; /* Opera < 12.1 */
          animation: grow 2s forwards;
}

@keyframes appear {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to   {
    opacity: 1;
    visibility: visible;
  }
}

@-moz-keyframes appear {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to   {
    opacity: 1;
    visibility: visible;
  }
}

@-webkit-keyframes appear {
    from {
      opacity: 0;
      visibility: hidden;
    }
    to   {
      opacity: 1;
      visibility: visible;
    }
}

@-ms-keyframes appear {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to   {
    opacity: 1;
    visibility: visible;
  }
}

@-o-keyframes appear {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to   {
    opacity: 1;
    visibility: visible;
  }
}


div.visi a{
  -webkit-animation: appear 2s forwards; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: appear 2s forwards; /* Firefox < 16 */
      -ms-animation: appear 2s forwards; /* Internet Explorer */
       -o-animation: appear 2s forwards; /* Opera < 12.1 */
          animation: appear 2s forwards;
}
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}

.social-network a.icoGithub:hover {
	background-color: #0000;
}
.social-network a.icoYouTube:hover {
	background-color: #FF0000;
}
.social-network a.icoGithub2:hover {
	background-color:#6e5494;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoLinkedin:hover i {
	color:#fff;
}
.social-network a.icoLink:hover {
	background-color: #F56505;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
	background-color: #D3D3D3;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.form-holder {
  color: #FFFFFF;
  background-color: #222222;
  padding: 20px;
  opacity: 1;
  display: inline-block;
  width: 100%;
}
.project {
  height: 500px;
  padding-left: 50px;
  padding-top: 20px;
  padding-right: 50px;
}
div.tall div.project {
  height: 700px;
  padding-bottom:0px;
}
div.tall img{
  height: 80%;
}
div.tall div#last {
  height: 700px;
  padding-bottom:20px;
}
div.row div.project {
  width: 50%;
  padding-bottom: 80px;
}
div.row img {
  height: 70%;
}
h2.proj-title {
  color: #FFFFFF;
  -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
}
input{
  color:black;
}
textarea{
  color:black;
}
input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}

div.decentered-p p{
  text-align: left;
}

.resource {
  margin-bottom: 0px;
}
